<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>PokedEXpressBIS</title>
  <!-- reset.css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" integrity="sha256-gvEnj2axkqIj4wbYhPjbWV7zttgpzBVEgHub9AAZQD4=" crossorigin="anonymous" />
  <!-- homemade css -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- google font-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet"> 
</head>
<body>
  
  <header class="header">
    <a class="sitename" href="/">PokedexBIS</a>

    <nav>
      <a href="/">Liste</a>
      <a href="/detail">Types</a>
    </nav>

  </header>

  <main class="main">