<%- include('partials/header') %>

<div class="form">
    <p>Hello <%= user.pseudo %>: </p><br>
    
    <a href="/pokedex">Tous mes pokemons</a><br>
    <a href="/mylists">Voir toutes mes team</a>
</div>

​
<%- include('partials/footer') %>